<div class="main">


  <section class="title">
    <span class="preheader">Lesson {{week}}</span>
    <h1>{{pageTitle}}</h1>

    <span class="chevron-prev" ng-if="week != 1">
      <a href="#/lesson/{{ prevLesson }}">
        <i class="fa fa-chevron-left"></i>
        <!--<span class="arrow-text">Lesson {{week-1}}</span>-->
      </a>
    </span>

    <span class="chevron-next" ng-if="week != 12">
      <a href="#/lesson/{{ nextLesson }}">
        <i class="fa fa-chevron-right"></i>
        <!--<span class="arrow-text">Lesson {{week+1}}</span>-->
      </a>
    </span>


  </section>

    <div class="download">
      <p>Download files</p>
    </div>
  <div class="rest">

  <section class="line">

    <div class="section-img">
      <img src="http://media.npr.org/assets/img/2012/10/12/3287-129_custom-ff79df6489c058ed10a81c8405e15da71b963457-s6-c30.jpg" / >
    </div>
    <h2>Tutorial</h2>
    <p>
      {{ tutorial }}
    </p>

  </section>


  
  <section class="line">
    <div class="section-img">
      <img src="http://media.npr.org/assets/img/2012/10/12/3287-129_custom-ff79df6489c058ed10a81c8405e15da71b963457-s6-c30.jpg" / >
    </div>

    <h2>Homework</h2>

    <p>
      {{ homework }}
    </p>
  </section>
</div>
    
    


